
.input-wrapper{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  
  input{
    background-color: transparent;
    font-size: 1rem;
    margin: 10px 10px;
    align-items: center;
  }
  
  input:focus{
    outline: none;
  }
  
  #search-icon{
    margin-bottom: 5px;
  }