*{
  box-sizing: border-box;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  div.post{
      grid-template-columns: .9fr 1.1fr;
  }
}

a{
  cursor: pointer;
}

body{
  color: #222;
}

img{
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.link-wrapper{
  display: flex;
  justify-content: space-between;
}